.pageTitle {
  background-color: #80CC00;
  color: white;
  padding-left: 3rem;
}

main {
  background-color: #1C355E;
}

/* Additional style for the inline-block cards */
.card {
  display: inline-block;
  margin: 1em 0.7%;
  vertical-align: top;
  box-sizing: border-box;
  width: 18.5%;
  text-align: left;
}

.card-content {
  background-color: white;
  border: 1px solid #ddd;
  padding: 1em;
  border-radius: 1em;
}

.card-title {
  font-size: 18px;
  margin: 0 0 10px;
  padding: 0;
  line-height: 1.2;
}

.card-image-container {
  text-align: center;
}

.card-image {
  max-width: 100%;
  height: auto;
}

.card-description {
  font-size: 14px;
  margin: 10px 0;
}

.card-author {
  font-size: 12px;
  color: #666;
}

#app {
  text-align: center;
  padding: 1em 1.5%;
}
